<h1 class="mt-3">Cálculo de interes Copmpuesto</h1>

<form action="/interesCompuesto" method="post">
  <div class="form-group">
    <label for="monto">Monto total del préstamo</label>
    <input type="text" name="amount" id="amount" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="periodo">Período (años)</label>
    <input type="text" name="time" id="time" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>

<div class="form-group">
    <label for="tasaInteres">Tasa de interes (%)</label>
    <input type="text" name="interestRate" id="interestRate" class="form-control">
  </div>

</form>